.App {
  text-align: center;
}
img {
  width: 200px;
}
.caption_container {
  width: 200px;
  height: 131px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
h3 {
  margin: 0;
}
p {
  margin: 0 5px 5px 100px;
  display: inline-block;
}
button {
  border-radius: 3px;
}
.GalleryItem {
  margin: 10px 0;
  border: 1px solid lightgray;
  background-color: white;
}
.GalleryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
